In [2]:
import sqlite3

In [3]:
#create db dan mengconectkan ke db
conn = sqlite3.connect('binar_data_science_new.db')

print("Opened database successfully")

Opened database successfully

CREATE TABLE users (username varchar(255), email varchar(255));

In [4]:
#membuat table dan kolom
# conn = sqlite3.connect('data/binar_data_science_new.db')
# print("Opened database successfully")

conn.execute('''CREATE TABLE users (username varchar(255), email varchar(255));''')
print("Table created successfully")

conn.close()

Table created successfully

INSERT INTO <users> <(username, email)> VALUES <('binaria', 'binaria@binar.com')>

INSERT INTO <users> VALUES <('bintang', 'bintang@binar.com')>

In [21]:
#mengisi table
conn = sqlite3.connect('data/binar_data_science_new.db')
print("Opened database successfully")

conn.execute("INSERT INTO users (username, email) VALUES ('binaria', 'binaria@binar.com')")
conn.execute("INSERT INTO users VALUES ('bintang', 'bintang@binar.com')")

conn.commit()
print("Records created successfully")
conn.close()

Opened database successfully
Records created successfully

SELECT <*> FROM <users>

In [27]:
#memunculkan data
conn = sqlite3.connect('data/binar_data_science_new.db')
print("Opened database successfully")
print()

print("List of Users:")
cursor = conn.execute("SELECT * FROM users;")
# print (cursor)
for row in cursor:
    print(row)

print()
print("Operation done successfully")
conn.close()

Opened database successfully

List of Users:
('binaria', 'binaria@binar.com')
('bintang', 'bintang@binar.com')

Operation done successfully

UPDATE users SET email = 'bintang1@binar.com' where username = 'bintang';

In [28]:
#update data pada table
conn = sqlite3.connect('data/binar_data_science_new.db')
print("Opened database successfully")
print()

conn.execute("UPDATE users SET email = 'bintang1@binar.com' where username = 'bintang';")
conn.commit()


print("List of Users:")
cursor = conn.execute("SELECT * FROM users;")
for row in cursor:
    print(row)

print()
print("Operation done successfully")
conn.close()

Opened database successfully

List of Users:
('binaria', 'binaria@binar.com')
('bintang', 'bintang1@binar.com')

Operation done successfully

In [29]:
#delete data
conn = sqlite3.connect('data/binar_data_science_new.db')
print("Opened database successfully")
print()

conn.execute("DELETE FROM users where username = 'bintang';")
conn.commit()


print("List of Users:")
cursor = conn.execute("SELECT * FROM users;")
for row in cursor:
    print(row)

print()
print("Operation done successfully")
conn.close()

Opened database successfully

List of Users:
('binaria', 'binaria@binar.com')

Operation done successfully

In [30]:
conn = sqlite3.connect('data/binar_data_science_join_new.db')
print("Opened database successfully")

conn.execute('''CREATE TABLE users (username varchar(255), email varchar(255));''')
print("Table 'users' created successfully")

conn.execute("INSERT INTO users (username, email) VALUES ('binaria', 'binaria@binar.com')")
conn.execute("INSERT INTO users VALUES ('bintang', 'bintang@binar.com')")
print("Insert to Table 'users' is successfully")

#menerapkan foreign key
conn.execute('''CREATE TABLE hobbies (name varchar(255), user_id INT, FOREIGN KEY (user_id) REFERENCES users(rowid));''')
print("Table 'hobbies' created successfully")

conn.execute("INSERT INTO hobbies (name, user_id) VALUES ('football', 1);")
conn.execute("INSERT INTO hobbies (name, user_id) VALUES ('gaming', 2);")
conn.execute("INSERT INTO hobbies (name, user_id) VALUES ('traveling', 2);")
print("Insert to Table 'hobbies' is successfully")

conn.commit()
print("Records created successfully")
conn.close()

Opened database successfully
Table 'users' created successfully
Insert to Table 'users' is successfully
Table 'hobbies' created successfully
Insert to Table 'hobbies' is successfully
Records created successfully

In [31]:
conn = sqlite3.connect('data/binar_data_science_join_new.db')
print("Opened database successfully")
print()

print("List of Users:")
cursor = conn.execute("SELECT * FROM users;")
for row in cursor:
    print(row)

print()
print("Operation done successfully")
conn.close()

Opened database successfully

List of Users:
('binaria', 'binaria@binar.com')
('bintang', 'bintang@binar.com')

Operation done successfully

In [32]:
conn = sqlite3.connect('data/binar_data_science_join_new.db')
print("Opened database successfully")
print()

print("List of Users:")
cursor = conn.execute("SELECT * FROM hobbies;")
for row in cursor:
    print(row)

print()
print("Operation done successfully")
conn.close()

Opened database successfully

List of Users:
('football', 1)
('gaming', 2)
('traveling', 2)

Operation done successfully

In [ ]:
'''
SELECT *
FROM users 
LEFT JOIN hobbies ON users.rowid = hobbies.user_id
'''

In [ ]:
"SELECT users.username, hobbies.name \
            FROM users LEFT JOIN hobbies ON users.rowid = hobbies.user_id"

In [34]:
#join table
conn = sqlite3.connect('data/binar_data_science_join_new.db')
print("Opened database successfully")
print()

print("List of Joined Data:")
cursor = conn.execute('''
                SELECT users.username, hobbies.name
                    FROM users 
                    LEFT JOIN hobbies ON users.rowid = hobbies.user_id
                ''')
for row in cursor:
    print(row)

print()
print("Operation done successfully")
conn.close()

Opened database successfully

List of Joined Data:
('binaria', 'football')
('bintang', 'gaming')
('bintang', 'traveling')

Operation done successfully

In [35]:
#join table
conn = sqlite3.connect('data/binar_data_science_join_new.db')
print("Opened database successfully")
print()

print("List of Joined Data:")
cursor = conn.execute("SELECT users.username, hobbies.name \
            FROM users INNER JOIN hobbies ON users.rowid = hobbies.user_id")
for row in cursor:
    print(row)

print()
print("Operation done successfully")
conn.close()

Opened database successfully

List of Joined Data:
('binaria', 'football')
('bintang', 'gaming')
('bintang', 'traveling')

Operation done successfully